body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
    /* margin: auto;
    max-width: 38rem;
    padding: 2rem; */
}

textarea {
    resize: none;
}

.btn-run {
    width: 100px;
}

.btn-run-code, .dropdown-menu {
    width: 160px;
    text-align: center;
    vertical-align: middle;
}
